$background: #ffffff;
$darder-background: #141414;
$text-on-darker-background: #878787;
$darkest: #111;
$dark-text: #141414;
$content-text: #191919;

$logo-size: 70px;
$margin-between-pictures: 4em;
$margin-between-galleries: 4em;

$header-height: 8em;

@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Sanchez|Work+Sans&display=swap");

@import "~bootstrap/scss/bootstrap.scss";

body,
html {
  background-color: $background;
}

html {
  display: flex;
  flex-direction: column;
} /* IE fix */

body {
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport (compatible IE9+) */
}

.portfolio {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.b_title {
  font-family: "Didact Gothic", sans-serif;
  color: #888;
  letter-spacing: 0.1em;
}

.b_footer {
  font-family: "Didact Gothic", sans-serif;
}

.b_faded {
  opacity: 0.9;
}

.b_opaque {
  opacity: 1;
}

.b_clickable {
  cursor: pointer;
}

.b_nullified_list,
.b_nullified_list_element {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.l_centered_container {
  position: relative;
  text-align: center;
  width: 50%;
}

.l_centered_element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l_fullscreen {
  display: flex;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
}

.l_centered {
  align-items: center;
  justify-content: center;
}

.b_uppercase_title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

@import "./header.scss";
@import "./gallery.scss";
@import "./galleryList.scss";
@import "./footer.scss";
