$darkest: #111;
$dark-text: #333;

$margin-between-pictures: 4em;

@import url("https://fonts.googleapis.com/css?family=Sanchez|Work+Sans&display=swap");

@import "~bootstrap/scss/bootstrap.scss";

.portfolio {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.l_fullscreen {
  display: flex;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
}

.l_centered {
  align-items: center;
  justify-content: center;
}

.gallery__header {
  @extend .l_fullscreen;
  border: 2em solid $darkest;
  flex-direction: column-reverse;

  .gallery__header__quote {
    align-items: flex-end;
    font-family: "Sanchez", serif;
    margin: 1em 1.5em;

    q {
      padding: 0 0.3em;
      font-size: 2.5em;
      background: rgba(255, 255, 255, 0.7);
    }

    .gallery__header__quote__author {
      text-align: right;
      font-size: 0.5em;
      margin: 1em 1em 1.5em 1em;
    }
  }
}

.gallery__description {
  @extend .l_fullscreen;
  @extend .l_centered;

  .gallery__description__words {
    display: block;
    font-size: 1.5em;
    font-family: "Work Sans", sans-serif;
    color: $dark-text;
    width: 30%;
  }
}

.content {
  flex-grow: 1;
}

.slideshow {
  line-height: 0;
  display: flex;
  margin-top: $margin-between-pictures;
  margin-right: $margin-between-pictures;

  .slideshow__column {
    flex: 1;

    margin-left: $margin-between-pictures;

    .slideshow__column__picture img {
      width: 100%;
      height: auto;
      margin-bottom: $margin-between-pictures;
    }
  }
}
